@font-face {
    font-family: 'Gilroy Bold Italic';
    src: url('../fonts/Gilroy-BoldItalic.eot');
    src: url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-BoldItalic.woff') format('woff'),
        url('../fonts/Gilroy-BoldItalic.ttf') format('truetype'),
        url('../fonts/Gilroy-BoldItalic.svg#Gilroy-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy SemiBold';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype'),
        url('../fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Regular Italic';
    src: url('../fonts/Gilroy-RegularItalic.eot');
    src: url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
        url('../fonts/Gilroy-RegularItalic.ttf') format('truetype'),
        url('../fonts/Gilroy-RegularItalic.svg#Gilroy-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy Md';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Black';
    src: url('../fonts/Gilroy-Black.eot');
    src: url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype'),
        url('../fonts/Gilroy-Black.svg#Gilroy-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

:root{
	--regular-font: 'Gilroy Regular';
	--regular-italic: 'Gilroy Regular Italic';
	--semibold: 'Gilroy SemiBold';
	--medium-font: 'Gilroy Md';
	--bold-font: 'Gilroy Bold';
	--bold-italic: 'Gilroy Bold Italic';
	--black-font: 'Gilroy Black';
	--primary-color: #2DCA73;
	--btn-hover-color: #F98E00;
}

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #FCFCFC;
	min-width: 320px;
	color: #B1B5C9;
}

body,
input,
select,
textarea,
button{
	font-size: 16px;
	line-height: 24px;
	font-family: var(--regular-font);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}

img{
	border-style: none;
	max-width: 100%;
	height: auto;
}

a{
	text-decoration:none;
	color: var(--primary-color);
}

a:hover{text-decoration:underline;}

a:focus{
	outline: thin dotted;
}

a:active{background-color: transparent;}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top: 0;
	font-family: var(--bold-font);
	font-weight: normal;
}

p{
	margin-top: 0;
}

strong,
b{
	font-family: var(--bold-font);
	font-weight: normal;
}

i,
em{
	font-family: var(--regular-italic);
	font-style: normal;
}

strong > em,
strong > i,
em > strong,
i > strong{
	font-family: var(--bold-italic);
	font-weight: normal;
	font-style: normal;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"]{
	background: #2DCA73;
	color: #fff;
	line-height: 19px;
	font-family: var(--semibold);
	padding: 13px 24px 12px;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus{
	text-decoration: none;
	outline: none;
	background: var(--btn-hover-color);
	outline: none;
}

input,
select,
button,
textarea{
	outline: none;
}

/*==========================
 Common Site Style
==========================*/
.container{
	max-width: 1170px;
	margin: 0 auto;
}

.btn-primary{
	background: #2DCA73;
	color: #fff;
	line-height: 19px;
	font-family: var(--semibold);
	padding: 13px 22px 12px;
	border-radius: 5px;
	display: inline-block;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.btn-primary:hover,
.btn-primary:focus{
	text-decoration: none;
	outline: none;
	background: var(--btn-hover-color);
}

.btn-secondary{
	background: none;
	border: 1px solid #EBECF2;
	color: var(--primary-color);
	line-height: 19px;
	font-family: var(--semibold);
	padding: 13px 22px 12px;
	border-radius: 5px;
	display: inline-block;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.btn-secondary:hover,
.btn-secondary:focus{
	background: var(--primary-color);
	color: #fff;
	border-color: var(--primary-color);
	text-decoration: none;
}

.section-title{
	font-size: 42px;
	line-height: 51px;
	margin: 0;
	color: #3A3F5C;
	text-align: center;
	position: relative;
}

.section-title:before{
	position: absolute;
	top: -33px;
	left: 50%;
	width: 28px;
	height: 23px;
	content: '';
	background: url('../images/icon-leaf.png') no-repeat;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*========================
 Header Style
========================*/
.site-header{
	position: sticky;
	top: 0;
	z-index: 2;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

body:not(.home) .site-header{
	background: #fff;
	border-bottom: 1px solid #F5F5F7;
}

.scrolled-header{
	background: #fff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
}

.site-header .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.site-header .left{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.site-logo{
	margin-right: 60px;
	margin-left: -19px;
	width: 103px;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.site-logo a{
	display: block;
}

.site-logo img{
	vertical-align: top;
}

/*===================
 Navigation Style
===================*/
.btn-menu{
	display: none;
}

.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Gilroy SemiBold';
	line-height: 19px;
}

.main-navigation ul li{
	margin-right: 50px;
}

.main-navigation ul li:last-child{
	margin-right: 0;
}

.main-navigation ul li a{
	color: #3A3F5C;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.main-navigation ul li a:hover,
.main-navigation ul li a:focus,
.main-navigation ul li .active{
	outline: none;
	color: #2DCA73;
	text-decoration: none;
}

.site-header .right{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.site-header .btn-login{
	background: none;
	color: #3A3F5C;
	padding: 0;
	margin-left: 46px;
	font-family: var(--bold-font);
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.site-header .btn-login:hover,
.site-header .btn-login:focus{
	outline: none;
	text-decoration: none;
	color: var(--primary-color);
}

/*========================
 Banner Style
========================*/
.banner{
	margin: 104px 0 173px;
}

.banner .container{
	display: flex;
	flex-wrap: wrap;
}

.banner .text-holder{
	width: 50%;
	margin-top: 34px;
	display: flex;
	flex-direction: column;
}

.banner .text-holder .sub-title{
	font-size: 20px;
	line-height: 24px;
	color: var(--btn-hover-color);
	display: block;
	margin: 0 0 16px;
}

.banner .text-holder .banner-title{
	font-size: 48px;
	line-height: 70px;
	color: #3A3F5C;
	margin: 0 0 27px;
}

.banner .text-holder .banner-description{
	font-size: 18px;
	line-height: 32px;
	color: #818497;
	margin: 0 0 75px;
}

.banner .text-holder .banner-description p{
	margin: 0;
}

.banner .img-holder{
	width: 50%;
	text-align: right;
}

.banner .img-holder img{
	vertical-align: top;
	margin-right: 4px;
}

.banner .features{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: flex-end;
}

.banner .features .item{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 75px;
}

.banner .features .item:last-child{
	margin-right: 0;
}

.banner .features .icon-holder{
	margin-right: 15px;
}

.banner .features .item img{
	vertical-align: top;
}

.banner .features .text{
	color: #CACBD2;
	line-height: 19px;
	font-family: var(--medium-font);
}

/*======================
 How It Works Section
======================*/
.steps{
	margin: 0 0 201px;
}

.steps .section-header{
	position: relative;
	padding: 122px 0 0;
	margin: 0 0 100px;
}

.steps .section-header:after{
	position: absolute;
	top: 90px;
	left: 50%;
	/*width: 393px;
	height: 175px;*/
	content: 'STEPS';
	font-size: 140px;
	font-family: var(--black-font);
	color: rgba(58, 63, 92, 0.03);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.steps .grid{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.steps .col{
	width: 25%;
	padding: 0 15px;
}

.steps .step-title{
	font-size: 18px;
	line-height: 22px;
	color: #3A3F5C;
	margin: 0 0 17px;
}

.steps .col p{
	margin: 0;
}

.steps .col .icon-holder{
	margin: 0 0 33px;
}

.steps .col .icon-holder img{
	vertical-align: top;
}

.steps .col .text-holder{
	padding-right: 30px;
}

/*==========================
 Services Section Style
==========================*/
.services{
	margin: 0 0 300px;
}

.services .section-header{
	position: relative;
	padding: 122px 0 0;
	margin: 0 0 80px;
}

.services .section-header:after{
	position: absolute;
	top: 80px;
	left: 50%;
	/*width: 393px;
	height: 175px;*/
	content: 'SERVICE';
	font-size: 140px;
	font-family: var(--black-font);
	color: rgba(58, 63, 92, 0.03);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.services-tab .btn-holder{
	display: flex;
	margin: 0 0 80px;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	justify-content: center;
	font-family: var(--semibold);
}

.services-tab .btn-holder li{
	margin: 0 50px;
}

.services-tab .btn-holder a{
	display: flex;
	align-items: center;
	color: #B1B5C9;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.services-tab .btn-holder a:hover,
.services-tab .btn-holder a:focus,
.services-tab .btn-holder .ui-tabs-active a{
	text-decoration: none;
	outline: none;
	color: #3A3F5C;
}

.services-tab .btn-holder svg{
	vertical-align: top;
	margin-right: 15px;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.services-tab .btn-holder svg path{
	fill: #B1B5C9;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.services-tab .btn-holder a:hover svg path,
.services-tab .btn-holder a:focus svg path,
.services-tab .btn-holder .ui-tabs-active a svg path{
	fill: #2DCA73;
}

.services-tab .grid{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.services-tab .col{
	width: 50%;
	padding: 0 15px;
}

.services-tab .col .service-title{
	font-size: 18px;
	line-height: 24px;
	color: #3A3F5C;
	margin: 0 0 16px;
}

.services-tab .service-item{
	padding-right: 61px;
	margin: 7px 0 39px;
}

.services-tab .service-item:last-child{
	margin-bottom: 0;
}

.services-tab .service-item p{
	margin: 0;
}

.tab-content{
	display: none;
}

.testimonial{
	background: #fff;
	box-shadow: 0 3px 60px rgba(58, 63, 92, 0.1);
	padding: 78px 60px 37px 50px;
	border-radius: 5px;
	height: 100%;
	position: relative;
}

.testimonial div{
	height: 100%;
}

.testimonial:before{
	position: absolute;
	top: 40px;
	left: 54px;
	content: '';
	background: url('../images/icon-leaf.png') no-repeat;
	width: 28px;
	height: 23px;
}

.testimonial-slider{
	height: 100%;
}

.testimonial-slider .item{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.testimonial-content{
	font-size: 24px;
	line-height: 38px;
	color: #3A3F5C;
	flex-grow: 1;
}

.testimonial-meta{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: auto !important;
}

.testimonial-meta div{
	height: auto;
}

.testimonial-meta .img-holder{
	width: 70px;
	margin-right: 30px;
}

.testimonial-meta .img-holder img{
	vertical-align: top;
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 50%;
}

.testimonial-meta .star-holder{
	position: relative;
	width: 102px;
	margin: 0 0 10px;
}

.testimonial-meta .star-holder .empty-star{
	background: url('../images/star-empty.png') no-repeat;
	width: 102px;
	height: 14px;
	display: block;
}

.testimonial-meta .star-holder .full-star{
	background: url('../images/star-full.png') no-repeat;
	width: 102px;
	height: 14px;
	position: absolute;
	top: 0;
	left: 0;
}

.testimonial-meta .name{
	display: block;
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 10px;
	color: #3A3F5C;
}

.testimonial-meta .designation{
	line-height: 19px;
	color: #CACBD2;
}

.testimonial-slider .owl-nav{
	position: absolute;
	right: 10px;
	bottom: 31px;
	height: auto;
}

.testimonial-slider .owl-nav button.owl-next span,
.testimonial-slider .owl-nav button.owl-prev span{
	display: none;
}

.testimonial-slider .owl-nav button.owl-next,
.testimonial-slider .owl-nav button.owl-prev{
	width: 30px;
	height: 20px;
	position: relative;
}

.testimonial-slider .owl-nav button.owl-next{
	margin-left: 30px;
}

.testimonial-slider .owl-nav button.owl-next:after{
	width: 30px;
	height: 20px;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 30 20"><path d="M29.817,94.891l-9.375-9.375a.625.625,0,0,0-.884.884l8.308,8.308H.625a.625.625,0,1,0,0,1.25H27.867l-8.308,8.308a.625.625,0,1,0,.884.884l9.375-9.375A.625.625,0,0,0,29.817,94.891Z" transform="translate(0 -85.333)" fill="%233A3F5C"/></svg>');
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.testimonial-slider .owl-nav button.owl-prev:after{
	width: 30px;
	height: 20px;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 30 20"><path d="M.183,94.891l9.375-9.375a.625.625,0,1,1,.884.884L2.134,94.708H29.375a.625.625,0,1,1,0,1.25H2.134l8.308,8.308a.625.625,0,1,1-.884.884L.183,95.775A.625.625,0,0,1,.183,94.891Z" transform="translate(0 -85.333)" fill="%233A3F5C"/></svg>');
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.testimonial-slider .owl-nav button.disabled{
	opacity: 0.3;
}

/*================================
 Pricing Table Section Style
================================*/
.pricing-section{
	margin: 0 0 183px;
}

.pricing-section .section-header{
	position: relative;
	padding: 122px 0 0;
	margin: 0 0 123px;
}

.pricing-section .section-header:after{
	position: absolute;
	top: 80px;
	left: 50%;
	width: 100%;
	text-align: center;
	/*height: 175px;*/
	content: 'OUR PLANS';
	font-size: 140px;
	font-family: var(--black-font);
	color: rgba(58, 63, 92, 0.03);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.pricing-table-holder{
	max-width: 770px;
	margin: 0 auto;
}

.pricing-table-holder .grid{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.pricing-table-holder .col{
	width: 50%;
	padding: 0 15px;
}

.pricing-table-holder .holder{
	background: #fff;
	border: 1px solid #EBECF2;
	border-radius: 5px;
	padding: 50px 35px 47px 44px;
}

.pricing-table-holder .holder .table-header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 45px;
	border-bottom: 1px solid #EBECF2;
}

.pricing-table-holder .holder .table-header .icon-holder{
	margin-right: 10px;
}

.pricing-table-holder .holder .table-header svg path{
	fill: #F98E00;
}

.pricing-table-holder .holder .table-header .text-holder{
	flex-basis: 0;
	flex-grow: 1;
}

.pricing-table-holder .holder .table-header h3{
	font-size: 20px;
	line-height: 24px;
	color: #3A3F5C;
	margin: 0;
}

.pricing-table-holder .holder .table-header h4{
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	color: #CACBD2;
	font-family: var(--semibold);
}

.pricing-table-holder .holder .table-body{
	padding: 37px 0 58px;
}

.pricing-table-holder .holder ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.pricing-table-holder .holder ul li{
	margin-bottom: 26px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.pricing-table-holder .holder ul li:last-child{
	margin-bottom: 0;
}

.pricing-table-holder .holder ul li .text{
	flex-basis: 0;
	flex-grow: 1;
}

.pricing-table-holder .holder ul li svg path{
	fill: none;
	stroke: #598bdc;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 3px;
}

.pricing-table-holder .table-footer{
	text-align: center;
}

.pricing-table-holder .business{
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.16);
	margin-top: -20px;
}

/*======================
 CTA Section Style
======================*/
.cta-section{
	background: #FAFAFA;
	position: relative;
}

.cta-section:before{
	position: absolute;
	top: 0;
	left: 0;
	background: url('../images/cta-bg1.png') no-repeat;
	width: 485px;
	height: 410px;
	content: '';
}

.cta-section:after{
	position: absolute;
	top: 0;
	right: 0;
	background: url('../images/cta-bg2.png') no-repeat;
	width: 442px;
	height: 410px;
	content: '';
}

.cta-section .holder{
	height: 410px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 392px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 1;
}

.cta-section .section-title{
	margin: 0 0 60px;
}

/*=================
 Footer Style
=================*/
.footer-t{
	padding: 60px 0 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #EBECF2;
}

.footer-logo img{
	vertical-align: top;
}

.footer-t .email span,
.footer-t .phone span,
.footer-t .social-links span{
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-family: var(--medium-font);
	color: #CACBD2;
}

.footer-t .email a,
.footer-t .phone a{
	font-size: 20px;
	line-height: 24px;
	font-family: var(--bold-font);
}

.footer-t .phone a{
	color: #3A3F5C;
}

.footer-t .social-links ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.footer-t .social-links ul li{
	margin-right: 20px;
}

.footer-t .social-links ul li:last-child{
	margin-right: 0;
}

.footer-t .social-links ul li a{
	color: #3A3F5C;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.footer-t .social-links ul li a:hover,
.footer-t .social-links ul li a:focus{
	text-decoration: none;
	outline: none;
	color: var(--primary-color);
}

.footer-b{
	font-size: 14px;
	line-height: 16px;
	font-family: var(--semibold);
	color: #3A3F5C;
	padding: 42px 0 39px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-b a{
	color: #3A3F5C;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.footer-b a:hover,
.footer-b a:focus{
	text-decoration: none;
	outline: none;
	color: var(--primary-color);
}

.footer-b .site-info a{
	margin-right: 70px;
}

.footer-b .site-info a:last-child{
	margin-right: 0;
}

/*=======================
 Signup Model Style
======================*/
.model{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: ease 0.35s;
	-moz-transition: ease 0.35s;
	transition: ease 0.35s;
	-webkit-transform: translateY(-800px);
	-moz-transform: translateY(-800px);
	transform: translateY(-800px);
}

body.signup-model-open .signup-model,
body.login-model-open .login-model,
body.password-recovery-model-open .password-recovery-model,
body.checkout-model-open .checkout-model{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

body.model-open{
	overflow-y: hidden;
}

.model .holder{
	background: #fff;
	box-shadow: 0 20px 60px rgba(58, 63, 92, 0.1);
	border-radius: 5px;
	max-height: calc(100% - 40px);
	overflow: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*.signup-model .holder{
	height: 100%;
}*/

.signup-model .holder{
	max-width: 1170px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.signup-model .img-holder{
	width: 42.7%;
}

.signup-model img{
	vertical-align: top;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.form-holder{
	position: relative;
}

.btn-close-model{
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	padding: 0;
	border-radius: 0;
}

.btn-close-model:hover,
.btn-close-model:focus{
	background: none;
}

.signup-model .form-holder{
	flex-basis: 0;
	flex-grow: 1;
	padding: 70px 70px 30px 70px;
	height: 100%;
	overflow-y: auto;
}

.signup-form{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.signup-form .form-group{
	margin: 0 0 50px;
}

.signup-form .title{
	font-size: 16px;
	line-height: 19px;
	color: #3A3F5C;
	margin: 0 0 15px;
	font-family: var(--semibold);
}

.signup-form .title .icon{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}

.signup-form .title .icon .tooltip{
	font-size: 14px;
	line-height: 16px;
	position: absolute;
	top: -90px;
	left: -110px;
	font-family: var(--regular-font);
	box-shadow: 0 1px 8px rgba(57,73,76,0.35);
	width: 278px;
	padding: 20px;
	border-radius: 5px;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.signup-form .title .icon:hover .tooltip{
	opacity: 1;
	visibility: visible;
}

.input-holder{
	background: #FCFDFF;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	padding: 10px 30px;
	margin: 0 0 20px;
}

.input-holder label{
	display: block;
	font-family: var(--medium-font);
	color: #CACBD2;
	font-size: 12px;
	line-height: 14px;
}

.input-holder input[type="text"],
.input-holder input[type="email"]{
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	font-family: var(--semibold);
	display: block;
	width: 100%;
	color: #000;
}

.signup-form .grid-input{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 20px;
}

.signup-form .grid-input .col{
	width: 50%;
	padding: 0 10px;
}

.signup-form .grid-input input[type="password"],
.signup-form .grid-input input[type="text"]{
	width: 100%;
	background: #FCFDFF;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	padding: 17px 30px;
	font-family: var(--semibold);
}

.signup-form .btn-radio-holder{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11px 20px;
}

.signup-form .btn-radio-holder .col{
	width: 33.333%;
	padding: 0 11px;
}

.signup-form .btn-radio-holder input[type="radio"]{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}

.signup-form .btn-radio-holder .box{
	width: 100%;
	/*height: 100%;*/
	height: 130px;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	background: #FCFDFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #818497;
	cursor: pointer;
}

.signup-form .btn-radio-holder .box .label{
	font-family: var(--semibold);
	margin-top: 15px;
}

.signup-form .btn-radio-holder .box svg path{
	fill: #818497;
}

.signup-form .btn-radio-holder input[type="radio"]:checked + .box{
	border: 2px solid var(--btn-hover-color);
	background: #fff;
	color: #3A3F5C;
}

.signup-form .btn-radio-holder input[type="radio"]:checked + .box svg path{
	fill: #3A3F5C;
}

.signup-form .privacy-policy{
	font-size: 14px;
	line-height: 16px;
	font-family: var(--medium-font);
	color: #CACBD2;
	margin: -9px 0 12px;
}

.signup-form .privacy-policy a{
	font-family: var(--semibold);
	color: #818497;
}

.signup-form .btn-submit{
	display: flex;
	justify-content: flex-end;
}

.signup-form .has-account{
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	color: #CACBD2;
	font-family: var(--medium-font);
}

.signup-form .has-account a{
	background: none;
	color: var(--primary-color);
	padding: 0;
	border-radius: 0;
	font-size: 14px;
	line-height: 16px;
	font-family: var(--semibold);
}

.signup-form .has-account a:hover{
	text-decoration: underline;
}

/*====================
 Login Model Style
====================*/
.login-model .holder{
	max-width: 570px;
	width: 100%;
}

.login-model .form-holder{
	padding: 46px 70px 34px 70px;
}

.login-form .logo-holder{
	margin: 0 0 30px;
}

.login-form h2{
	font-size: 42px;
	line-height: 54px;
	color: #3A3F5C;
	margin: 0 0 10px;
}

.login-form p{
	color: #818497;
	margin: 0 0 40px;
}

.login-form .password-holder{
	margin: 0 0 30px;
}

.login-form input[type="password"]{
	width: 100%;
	background: #FCFDFF;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	padding: 17px 30px;
	font-family: var(--semibold);
}

.login-form .login-meta{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #818497;
	font-size: 14px;
	line-height: 16px;
	font-family: var(--medium-font);
	margin: 0 0 30px;
}

.login-form .remember-login span{
	display: inline-block;
	position: relative;
	padding-left: 24px;
}

.login-form .remember-login span:before{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 14px;
	height: 14px;
	border: 1px solid #F2F3F9;
	border-radius: 3px;
	background: #FCFDFF;
}

.login-form .remember-login span:after{
	position: absolute;
	top: 4px;
	left: 2px;
	width: 12px;
	height: 10px;
	content: '';
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 512 512'%3E%3Cpath d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E") center center no-repeat;
	display: none;
}

.login-form .remember-login input[type="checkbox"]:checked + span:after{
	display: block;
}

.login-form .remember-login input[type="checkbox"]{
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	visibility: hidden;
}

.login-form .forgot-password{
	color: #818497;
}

.login-form input[type="submit"]{
	width: 100%;
}

.login-form{
	margin: 0 0 50px;
}

.goto-signup{
	font-size: 14px;
	line-height: 16px;
	font-family: var(--medium-font);
	color: #CACBD2;
	text-align: center;
}

.goto-signup a{
	font-family: var(--semibold);
}

/*==================================
 Password Recovery Model Style
==================================*/
.password-recovery-model .holder{
	max-width: 570px;
	width: 100%;
}

.password-recovery-model .form-holder{
	padding: 70px 70px 100px;
}

.forget-password-form .img-holder{
	text-align: center;
	margin: 0 0 46px;
}

.forget-password-form .img-holder img{
	vertical-align: top;
}

.forget-password-form h2{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 12px;
	color: #3A3F5C;
	text-align: center;
}

.forget-password-form p{
	color: #818497;
	margin: 0 0 50px;
	text-align: center;
}

.forget-password-form input[type="submit"]{
	width: 100%;
}

/*========================
 Page header Style
========================*/
#main{
	padding: 40px 0;
}

.page-header{
	text-align: center;
	margin: 0 0 40px;
}

.page-title{
	font-size: 36px;
	line-height: 56px;
	color: #3A3F5C;
	margin: 0;
}

.breadcrumbs{
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 10px;
	color: #CACBD2;
	font-family: var(--medium-font);
}

.breadcrumbs a{
	color: #CACBD2;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
	text-decoration: none;
	color: var(--primary-color);
}

.breadcrumbs .separator{
	margin: 0 5px;
}

.my-account{
	max-width: 530px;
	margin: 0 auto;
}

.my-account .tab-btn-holder{
	margin: 0 0 50px;
	padding: 0;
	list-style: none;
	line-height: 19px;
	font-family: var(--semibold);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.my-account .tab-btn-holder li a{
	color: #CACBD2;
	padding: 0 20px 10px;
	display: block;
	border-bottom: 3px solid transparent;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.my-account .tab-btn-holder li a:hover,
.my-account .tab-btn-holder li a:focus{
	text-decoration: none;
	outline: none;
	color: #3A3F5C;
}

.my-account .tab-btn-holder .ui-tabs-active a{
	border-bottom-color: #3A3F5C;
	color: #3A3F5C;
}

.account-setting-form h2,
.payment-setting-form h2{
	font-size: 16px;
	line-height: 19px;
	font-family: var(--semibold);
	color: #3A3F5C;
	margin: 0 0 15px;
}

.account-setting-form .grid-input{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.account-setting-form .grid-input .col{
	width: 50%;
	padding: 0 10px;
}

.account-setting-form .input-holder,
.payment-setting-form .input-holder{
	background: #fff;
	margin: 0 0 20px;
}

.account-setting-form .btn-holder{
	text-align: right;
}

.account-setting-form .disabled{
	background: #EBEBEE;
	pointer-events: none;
}

.payment-setting-form .btn-remove-card{
	background: none;
	padding: 0;
	border-radius: 0;
	color: #FB5E5E;
	font-size: 14px;
	line-height: 16px;
	font-family: var(--semibold);
	margin-left: 20px;
}

.payment-setting-form .input-holder{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.payment-setting-form .card-holder{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 16px 30px;
}

.payment-setting-form .card-icon{
	margin-right: 20px;
}

.payment-setting-form .card-icon svg{
	vertical-align: middle;
}

.payment-setting-form .card-holder input[type="text"]{
	flex-basis: 0;
	flex-grow: 1;
}

.payment-setting-form .grid-input{
	display: flex;
	flex-wrap: wrap;
}

.payment-setting-form .grid-input .col:first-child{
	width: 275px;
	margin-right: 20px;
}

.payment-setting-form .grid-input .col:nth-child(2){
	width: 125px;
	margin-right: 20px;
}

.payment-setting-form .grid-input .col:last-child{
	width: 90px;
}

.payment-setting-form .exp-date,
.payment-setting-form .cvv{
	padding: 21px 15px;
}

.payment-setting-form .exp-date input[type="text"],
.payment-setting-form .cvv input[type="text"]{
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.payment-setting-form input[type="submit"]{
	width: 100%;
}

/*=====================
 Login Tool Style
====================*/
.login-tool{
	margin-left: 46px;
	padding-right: 35px;
	position: relative;
	cursor: pointer;
}

.login-tool:after{
	position: absolute;
	top: 50%;
	right: 0;
	content: '';
	width: 13px;
	height: 20px;
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CACBD2' viewBox='0 0 256 512'%3E%3Cpath d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'/%3E%3C/svg%3E") center center no-repeat;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.login-tool span{
	display: block;
	font-size: 12px;
	line-height: 14px;
	font-family: var(--semibold);
	color: #CACBD2;
}

.login-tool .user-name{
	display: block;
	line-height: 19px;
	color: #3A3F5C;
	width: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.login-tool .btn-logout{
	position: absolute;
	top: 50px;
	right: 0;
	width: 150px;
	background: #fff;
	padding: 15px 10px 15px 40px;
	font-family: var(--bold-font);
	line-height: 19px;
	color: #3A3F5C;
	box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
	opacity: 0;
	visibility: hidden;
}

.login-tool .btn-logout:after{
	content: '';
	position: absolute;
	display: block;
	top: -7px;
	border: 8px solid #fff;
	border-color: transparent transparent #fff #fff;
	-webkit-transform: translateX(-50%) rotate(135deg);
	-moz-transform: translateX(-50%) rotate(135deg);
	transform: translateX(-50%) rotate(135deg);
	box-shadow: -2px 2px 3px rgba(57, 73, 76, 0.1);
	right: 30px;	
}

.login-tool .btn-logout:hover,
.login-tool .btn-logout:focus{
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

.login-tool .btn-logout.show{
	opacity: 1;
	visibility: visible;
}

.login-tool .btn-logout:before{
	position: absolute;
	top: 15px;
	left: 10px;
	width: 20px;
	height: 20px;
	content: '';
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CACBD2' viewBox='0 0 512 512'%3E%3Cpath d='M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z'/%3E%3C/svg%3E") center center no-repeat;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*=============================
 Create New Order page Style
==============================*/
.create-order .page-header{
	position: relative;
}

.create-order .page-header .btn-cancle{
	position: absolute;
	top: 50%;
	left: 0;
	line-height: 19px;
	font-family: var(--semibold);
	color: #CACBD2;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.create-order .page-header .btn-cancle:hover,
.create-order .page-header .btn-cancle:focus{
	text-decoration: none;
	color: var(--primary-color);
	outline: none;
}

.create-order .page-header .btn-cancle svg path{
	fill: #CACBD2;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.create-order .page-header .btn-cancle:hover svg path,
.create-order .page-header .btn-cancle:focus svg path{
	fill: var(--primary-color);
}

.create-order .note{
	font-size: 14px;
	line-height: 16px;
	font-family: var(--medium-font);
	color: #598BDC;
	background: #EEF2F8;
	border: 1px solid #598BDC;
	border-radius: 5px;
	padding: 14px 153px 14px 70px;
	position: relative;
	margin: 0 0 60px;
}

.create-order .note .icon{
	position: absolute;
	top: 50%;
	left: 30px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.create-order .note .btn-close-note{
	position: absolute;
	top: 50%;
	right: 30px;
	background: none;
	border-radius: 0;
	padding: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.create-order .note p{
	margin: 0;
}

.selection-tool{
	margin: 0 0 60px;
}

.selection-tool .title-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 0 30px;
}

.selection-tool .title-wrapper .icon{
	margin-right: 15px;
}

.selection-tool .title-wrapper svg{
	vertical-align: top;
}

.selection-tool h2{
	font-size: 24px;
	line-height: 29px;
	margin: 0;
	color: #3A3F5C;
}

.selection-tool .grid{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.selection-tool .col-2{
	width: 50%;
	padding: 0 15px;
}

.selection-tool h3{
	font-size: 16px;
	line-height: 19px;
	margin: 0 0 15px;
	color: #3A3F5C;
	font-family: var(--semibold);
}

.selection-tool .col-3{
	width: 33.333%;
	padding: 0 15px;
}

.selection-tool label{
	width: 100%;
	height: 60px;
	background: #fff;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	display: block;
	color: #C9CAD1;
	font-family: var(--semibold);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.selection-tool input[type="radio"]{
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	visibility: hidden;
}

.selection-tool input[type="radio"]:checked + label{
	color: #3D425E;
	background: #EBECF2;
	border-color: #3D425E;
}

.date-holder{
	position: relative;
}

.date-holder:after{
	position: absolute;
	top: 21px;
	left: 30px;
	width: 16px;
	height: 18px;
	content: '';
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CACBD2' viewBox='0 0 448 512'%3E%3Cpath d='M400 64h-48V12c0-6.627-5.373-12-12-12h-8c-6.627 0-12 5.373-12 12v52H128V12c0-6.627-5.373-12-12-12h-8c-6.627 0-12 5.373-12 12v52H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zM48 96h352c8.822 0 16 7.178 16 16v48H32v-48c0-8.822 7.178-16 16-16zm352 384H48c-8.822 0-16-7.178-16-16V192h384v272c0 8.822-7.178 16-16 16z'/%3E%3C/svg%3E") center center no-repeat;
}

.date-holder input[type="text"]{
	background: #fff;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	font-size: 16px;
	line-height: 19px;
	color: #3C415D;
	font-family: var(--semibold);
	padding: 20px 20px 19px 66px;
	width: 100%;
}

.add-section{
	margin: 0 0 40px;
}

.add-section .title-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 0 30px;
}

.add-section .title-wrapper h2{
	font-size: 24px;
	line-height: 29px;
	margin: 0;
	color: #3A3F5C;
}

.add-section .title-wrapper h2 span{
	color: #CACBD2;
	font-size: 16px;
	line-height: 19px;
	margin-left: 19px;
}

.add-section .title-wrapper .icon{
	margin-right: 15px;
}

.add-section .title-wrapper .icon svg{
	vertical-align: top;
}

.add-section .box{
	background: #fff;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	padding: 40px;
}

.add-section .box .top{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid #F2F3F9;
	margin: 0 0 30px;
	padding: 0 0 30px;
}

.add-section .box .top .icon{
	margin-right: 20px;
}

.add-section .box .top input[type="text"]{
	font-size: 16px;
	line-height: 19px;
	color: #3C415D;
	font-family: var(--semibold);
	margin-right: 20px;
	border: 0;
	border-left: 2px solid #3A3F5C;
	padding: 0 0 0 3px;
	flex-basis: 0;
	flex-grow: 1;
}

.add-section .box .top .btn-remove{
	background: none;
	border-radius: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	font-family: var(--semibold);
	color: #FB5E5E;
}

.add-section .box h3{
	font-size: 16px;
	line-height: 19px;
	margin: 0 0 30px;
	color: #3A3F5C;
	font-family: var(--semibold);
}

.add-section .box .grid{
	display: flex;
	flex-wrap: wrap;
}

.add-section .box .grid .col{
	width: 20%;
	padding: 0 10px;
	margin: 0 0 20px;
}

.add-section .box .grid .holder{
	background: #fff;
	border-radius: 5px;
	border: 1px solid #F2F3F9;
	box-shadow: 0 0 10px rgba(58, 63, 92, 0.05);
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.add-section .box .grid .holder:hover{
	box-shadow: 0 0 20px rgba(58, 63, 92, 0.1);
}

.add-section .box .holder .date{
	padding: 19px 20px 15px;
	font-size: 18px;
	line-height: 21px;
	color: #3A3F5C;
	font-family: var(--semibold);
	border-bottom: 1px solid #F2F3F9;
}

.add-section .box .holder .date .icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.add-section .box .holder .date svg{
	vertical-align: top;
}

.add-section .box .fruits-list{
	margin: 0;
	padding: 15px 20px;
	list-style: none;
}

.add-section .box .fruits-list li{
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 10px;
}

.add-section .box .fruits-list li:last-child{
	margin: 0;
}

.add-section .box .fruits-list .product-name{
	font-size: 14px;
	line-height: 16px;
	color: #818497;
	margin: 0;
	font-family: var(--semibold);
}

.add-section .box .fruits-list .product-price{
	font-size: 12px;
	color: #CACBD2;
	font-family: var(--bold-font);
}

.add-section .box .fruits-list .text-holder{
	padding-left: 31px;
	position: relative;
}

.add-section .box .fruits-list .text-holder:before{
	position: absolute;
	top: 3px;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	border: 2px solid #CACBD2;
	content: '';
}

.add-section .box .fruits-list .text-holder:after{
	position: absolute;
	top: 6px;
	left: 3px;
	width: 13px;
	height: 13px;
	content: '';
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 512 512'%3E%3Cpath d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E") center center no-repeat;
}

.add-section .box .fruits-list input[type="checkbox"]:checked + .text-holder:before{
	border-color: #598BDC;
	background: #598BDC;
}

.add-section .box .fruits-list input[type="checkbox"]{
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	visibility: hidden;
}

.add-section .box .footer-tool button{
	background: none;
	padding: 0;
	border-radius: 0;
	font-size: 12px;
	line-height: 14px;
	font-family: var(--semibold);
}

.add-section .box .footer-tool .btn-copy{
	color: var(--primary-color);
}

.add-section .box .footer-tool{
	padding: 0 20px;
	display: none;
}

.add-section .box .holder:hover .footer-tool{
	display: block;
}

.add-section .box .footer-tool .tool-holder{
	padding: 11px 0 15px;
	border-top: 1px solid #F2F3F9;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.add-section .box .footer-tool .btn-reset{
	color: #CACBD2;
}

.btn-order-new{
	background: #fff;
	border: 1px solid #F2F3F9;
	width: 100%;
	color: var(--primary-color);
	padding: 20px 24px;
	margin: 0 0 80px;
}

.btn-order-new:hover,
.btn-order-new:focus{
	background: #fff;
	border-color: var(--primary-color);
}

.btn-order-new svg{
	vertical-align: top;
	margin-right: 10px;
}

.create-order .checkout-box{
	width: 430px;
	margin: 0 auto 40px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #F2F3F9;
	padding: 9px 10px 11px 30px;
	box-shadow: 0 0 4px rgba(58, 63, 92, 0.16);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.create-order .checkout-box .left{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-basis: 0;
	flex-grow: 1;
	margin-right: 15px;
}

.create-order .checkout-box .left .icon{
	margin-right: 15px;
}

.create-order .checkout-box .left svg{
	vertical-align: top;
}

.create-order .checkout-box .left .text{
	display: flex;
	flex-direction: column;
}

.create-order .checkout-box .left .text span{
	font-size: 12px;
	line-height: 14px;
	color: #CACBD2;
	font-family: var(--medium-font);
	margin: 0 0 4px;
}

.create-order .checkout-box .left .text strong{
	font-size: 16px;
	line-height: 19px;
	color: #3A3F5C;
	font-family: var(--semibold);
}

/*========================
 Checkout Page Style
========================*/
.checkout-page{
	max-width: 660px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	box-shadow: 0 20px 60px rgba(58, 63, 92, 0.1);
	padding: 55px 47px 40px;
}

.checkout-header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 0 40px;
}

.checkout-header .icon{
	margin-right: 15px;
}

.checkout-header svg{
	vertical-align: top;
}

.checkout-header .checkout-title{
	font-size: 24px;
	line-height: 29px;
	color: #3A3F5C;
	margin: 0;
}

.checkout-form h2{
	font-size: 16px;
	line-height: 19px;
	margin: 0 0 20px;
	color: #3A3F5C;
	font-family: var(--semibold);
}

.checkout-form .label{
	display: block;
	margin: 0 0 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.checkout-form .custom-radio{
	margin-right: 20px;
	width: 16px;
	height: 16px;
	border: 2px solid #CACBD2;
	border-radius: 50%;
}

.checkout-form input[type="radio"]:checked + .custom-radio{
	background: #598BDC;
	border: 4px solid #fff;
	box-shadow: 0 2px 6px rgba(58, 63, 92, 0.16);
}

.checkout-form .card-holder{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	padding: 14px 30px 12px;
	flex-basis: 0;
	flex-grow: 1;
}

.checkout-form .card-holder .card-icon{
	margin-right: 20px;
}

.checkout-form .card-holder .icon svg{
	vertical-align: top;
}

.checkout-form .card-holder input[type="text"]{
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 19px;
	color: #3A3F5C;
	font-family: var(--semibold);
	flex-basis: 0;
	flex-grow: 1;
	background: none;
}

.checkout-form input[type="radio"]{
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	visibility: hidden;
}

.new-card-holder .card-number{
	margin: 0;
	border-color: #F2F3F9;
	background: #fff;
	width: 275px;
	margin-right: 20px
}

.new-card-holder{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
	flex-grow: 1;
}

.new-card-holder .exp-date{
	width: 125px;
	margin-right: 20px;
}

.new-card-holder .exp-date input[type="text"]{
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	font-size: 14px;
	line-height: 16px;
	font-family: var(--medium-font);
	width: 100%;
	height: 60px;
	text-align: center;
	padding: 0 10px;
}

.new-card-holder .cvv{
	flex-basis: 0;
	flex-grow: 1;
}

.new-card-holder .cvv input[type="text"]{
	border: 1px solid #F2F3F9;
	border-radius: 5px;
	font-size: 14px;
	line-height: 16px;
	font-family: var(--medium-font);
	width: 100%;
	height: 60px;
	text-align: center;
	padding: 0 10px;
}

.checkout-form .textarea-holder{
	margin: 40px 0;
}

.checkout-form textarea{
	width: 100%;
	height: 100px;
	background: #fff;
	border-radius: 5px;
	color: #3A3F5C;
	font-size: 16px;
	line-height: 19px;
	font-family: var(--semibold);
	border: 1px solid #F2F3F9;
	resize: none;
	padding: 20px;
}

.checkout-form .total-price{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	color: #3A3F5C;
	margin: 0 0 35px;
}

.checkout-form .total-price span{
	line-height: 19px;
	font-family: var(--semibold);
}

.checkout-form .total-price strong{
	font-size: 42px;
	line-height: 49px;
	font-family: var(--semibold);
}

.checkout-form input[type="submit"]{
	width: 100%;
}

/*=====================
 My Order Page Style
======================*/
.status-select{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin: 0 0 50px;
}

.status-select span{
	line-height: 19px;
	font-family: var(--medium-font);
	margin-right: 10px;
}

.status-select select{
	border: 0;
	font-family: var(--bold-font);
	color: #3A3F5C;
	padding-right: 20px; 
	background: none;
}

.status-select .custom-select{
	position: relative;
}

.status-select .custom-select:after{
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 100%;
	background: #FCFCFC;
	content: '';
	pointer-events: none;
}

.status-select .custom-select:before{
	position: absolute;
	right: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	content: '';
	pointer-events: none;
	z-index: 1;
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CACBD2' viewBox='0 0 256 512'%3E%3Cpath d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'/%3E%3C/svg%3E") center center no-repeat;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.table-wrapper{
	overflow-x: auto;
}

.table-wrapper .table-holder{
	width: 1170px;
}

.table{
	width: 100%;
	border-collapse: collapse;
	display: table;
}

/*.table .thead div{
	background: rgba(58, 63, 92, 0.05);
	padding: 13px 40px;
}*/

.tr{
	display: table-row;
	border-bottom: 1px solid #F5F5F7;
	position: relative;
}

.td{
	display: table-cell;
	padding: 13px 30px;
	vertical-align: middle;
}

.table .tr:first-child,
.table .tr:last-child{
	border-bottom: 0;
}

.table .tr:first-child .td{
	padding: 0;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-family: var(--semibold);
	color: #818497;
	padding: 13px 30px;
	background: rgba(58, 63, 92, 0.05);
}

.table .tr:first-child .td:first-child{
	border-radius: 5px 0 0 5px;
}

.table .tr:first-child .td:last-child{
	border-radius: 0 5px 5px 0;
}

.table .tr .td span{
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 8px;
	font-family: var(--medium-font);
}

.table .tr .td strong{
	display: block;
	font-size: 16px;
	line-height: 19px;
	color: #3A3F5C;
	font-family: var(--semibold);
}

.table .tr .td{
	padding: 29px 30px 31px;
}

.table .tr .td .status{
	display: inline-block;
	font-size: 14px;
	line-height: 19px;
	padding: 3px 10px 2px 23px;
	border-radius: 20px;
	position: relative;
}

.table .tr .td .status:before{
	position: absolute;
	top: 50%;
	left: 10px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	content: '';
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.table .tr .td .status.active{
	color: var(--primary-color);
	background: rgba(45, 202, 115, 0.1);
}

.table .tr .td .status.active:before{
	background: var(--primary-color);
}

.table .tr .td .status.completed{
	color: #CACBD2;
	background: rgba(202, 203, 201, 0.1);
}

.table .tr .td .status.completed:before{
	background: #CACBD2;
}

.table .people{
	display: flex;
	flex-wrap: wrap;
}

.table .people .name{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}

.table .btn-detail{
	background: none;
	border-radius: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	color: #CACBD2;
	margin-right: 15px;
}

.table .btn-detail svg{
	vertical-align: middle;
	margin-left: 9px;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.table .btn-detail.active svg{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.table .option-holder{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.table .options{
	position: relative;
}

.table .options .dots{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	cursor: pointer;
	background: none;
	padding: 0;
}

.table .options .dots span{
	width: 4px;
	height: 4px;
	background: #CACBD2;
	border-radius: 50%;
	display: block;
	margin: 0 auto 2px;
}

.table .options .option-drop{
	position: absolute;
	top: 100%;
	right: -10px;
	background: #fff;
	box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
	padding: 7px 0;
	width: 140px;
	margin: 20px 0 0;
	font-size: 12px;
	line-height: 14px;
	font-family: var(--semibold);
	display: none;
	z-index: 2;
}

.table .options .option-drop:before{
	content: '';
	position: absolute;
	display: block;
	top: -7px;
	border: 8px solid #fff;
	border-color: transparent transparent #fff #fff;
	-webkit-transform: translateX(-50%) rotate(135deg);
	-moz-transform: translateX(-50%) rotate(135deg);
	transform: translateX(-50%) rotate(135deg);
	box-shadow: -2px 2px 3px rgba(57, 73, 76, 0.1);
	right: 12px;
}

.table .options .option-drop a{
	display: block;
	color: #3A3F5C;
	padding: 8px 20px;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	transition: ease 0.2s;
}

.table .options .option-drop a:hover,
.table .options .option-drop a:focus{
	text-decoration: none;
	outline: none;
	background: #eaeaea;
}

.inner-table-wrapper{
	/*position: absolute;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 31px 15px;
	display: none;
	z-index: 2;
	box-shadow: 0 22px 30px rgba(58, 63, 92, 0.05);
}

.detail-open .inner-table-wrapper{
	display: block;
}

.inner-table-holder{
	max-width: 792px;
	margin: 0 auto;
	height: 100%;
	overflow-y: auto;
	padding: 40px;
	box-shadow: 0 20px 60px rgba(58, 63, 92, 0.1);
	position: relative;
}

.inner-table-holder .close-table{
	position: absolute;
	top: 10px;
	right: 20px;
	background: none;
	padding: 0;
	border-radius: 0;
}

.inner-table-wrapper .inner-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 40px;
}

.inner-table-wrapper .inner-header h2{
	font-size: 18px;
	line-height: 21px;
	color: #3A3F5C;
	margin: 0;
	font-family: var(--semibold);
}

.inner-table-wrapper .inner-header .date-select{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.inner-table-wrapper .inner-header .date-select span{
	line-height: 19px;
	font-family: var(--medium-font);
	margin-right: 10px;
}

.inner-table-wrapper .inner-header .date-select .custom-select{
	position: relative;
}

.inner-table-wrapper .inner-header .date-select .custom-select:before{
	position: absolute;
	right: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	content: '';
	pointer-events: none;
	z-index: 1;
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CACBD2' viewBox='0 0 256 512'%3E%3Cpath d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'/%3E%3C/svg%3E") center center no-repeat;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.inner-table-wrapper .inner-header .date-select .custom-select:after{
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 100%;
	background: #fff;
	content: '';
	pointer-events: none;
}

.inner-table-wrapper .inner-header .date-select select{
	border: 0;
	font-family: var(--bold-font);
	color: #3A3F5C;
	padding-right: 20px;
	background: none;
}

.inner-table{
	width: 100%;
	border-collapse: collapse;
}

.inner-table th,
.inner-table td{
	border: 0;
	text-align: left;
	padding: 0 15px 0 0;
}

.inner-table thead th{
	font-size: 14px;
	line-height: 16px;
	color: #CACBD2;
	font-family: var(--medium-font);
	font-weight: normal;
	padding-bottom: 30px;
}

.inner-table thead tr{
	border-bottom: 1px solid #F5F5F7;
}

.inner-table tbody td{
	padding: 30px 0;
	line-height: 19px;
	color: #3A3F5C;
	font-family: var(--semibold);
	vertical-align: top;
}

.inner-table tbody td strong{
	display: block;
	margin: 0 0 15px;
}

.inner-table tbody td strong span{
	font-size: 12px;
	line-height: 14px;
	color: #F98E00;
}

.inner-table tbody td.price{
	color: #CACBD2;
}

.inner-table tbody tr{
	border-bottom: 1px solid #F5F5F7;
}

.inner-table tbody tr:last-child{
	border-bottom: 0;
}

.inner-table tbody .total{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.inner-table tbody .total .total-price{
	color: #3A3F5C;
	margin-left: 35px;
}

.inner-table tbody .total span{
	font-size: 14px;
	line-height: 16px;
	font-family: var(--medium-font);
}

.inner-table thead th:last-child,
.inner-table tbody td:last-child{
	text-align: right;
}

.table .detail-open{
	background: #fff;
	box-shadow: 0 0 30px rgba(58, 63, 92, 0.05);
}

/*=====================
 Responsive Style
=====================*/
@media only screen and (max-width: 1199px){
	.container,
	.signup-model .holder{
		max-width: 970px;
	}
}

@media only screen and (max-width: 1024px){
	.container,
	.signup-model .holder{
		max-width: 750px;
	}

	.site-logo,
	.main-navigation ul li{
		margin-right: 30px;
	}

	.site-header .btn-login{
		margin-left: 30px;
	}

	.banner .text-holder .banner-title{
		font-size: 30px;
		line-height: 45px;
		margin: 0 0 15px;
	}

	.banner .text-holder .banner-description{
		margin: 0 0 30px;
	}

	.banner{
		margin: 50px 0;
	}

	.steps{
		margin: 0 0 50px;
	}

	.steps .col{
		width: 50%;
		margin: 0 0 30px;
	}

	.services{
		margin: 0 0 60px;
	}

	.services-tab .col{
		width: 100%;
		margin: 0 0 50px;
	}

	.signup-model .form-holder,
	.login-model .form-holder,
	.password-recovery-model .form-holder{
		padding: 30px;
	}

	.signup-form .grid-input .col{
		width: 100%;
		margin: 0 0 30px;
	}

	.signup-form .grid-input .col:last-child{
		margin: 0;
	}

	.date-holder input[type="text"]{
		padding: 20px 20px 19px 35px;
	}

	.date-holder:after{
		left: 12px;
	}

	.add-section .box .grid .col{
		width: 33.333%;
	}
}

@media only screen and (max-width: 767px){
	.container{
		padding: 0 15px;
	}

	.site-logo{
		margin-left: 10px;
		margin-right: 0;
		width: 80px;
	}

	.site-header .btn-login{
		margin-left: 10px;
	}

	.site-header .btn-primary{
		padding: 9px 10px 8px;
		font-size: 14px;
	}

	.btn-menu{
		display: block;
		width: 50px;
		height: 50px;
		border: 1px solid #ddd;
		border-radius: 50%;
		padding: 0;
		background: none;
		position: relative;
		z-index: 2;
	}

	.btn-menu:hover,
	.btn-menu:focus{
		background: none;
	}

	.btn-menu span{
		display: block;
		width: 20px;
		height: 2px;
		background: #000;
		margin: 3px auto;
		border-radius: 5px;
		-webkit-transition: ease 0.35s;
		-moz-transition: ease 0.35s;
		transition: ease 0.35s;
	}

	body.menu-open .btn-menu span:nth-child(2){
		opacity: 0
	}

	body.menu-open .btn-menu span:first-child{
		-webkit-transform: rotate(45deg) translate(5px, 4px);
		-moz-transform: rotate(45deg) translate(5px, 4px);
		transform: rotate(45deg) translate(5px, 4px);
	}

	body.menu-open .btn-menu span:last-child{
		-webkit-transform: rotate(-45deg) translate(3px, -2px);
		-moz-transform: rotate(-45deg) translate(3px, -2px);
		transform: rotate(-45deg) translate(3px, -2px);
	}

	.main-navigation{
		position: fixed;
		top: 0;
		left: 0;
		width: 320px;
		height: 100%;
		background: #fff;
		box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
		overflow-y: auto;
		z-index: 1;
		padding-top: 90px;
		-webkit-transform: translateX(-500px);
		-moz-transform: translateX(-500px);
		transform: translateX(-500px);
		-webkit-transition: ease 0.35s;
		-moz-transition: ease 0.35s;
		transition: ease 0.35s;
	}

	body.menu-open .main-navigation{
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		transform: translateX(0);
	}

	.main-navigation ul{
		flex-direction: column;
	}

	.main-navigation ul li{
		margin: 0;
	}

	.main-navigation ul li a{
		padding: 15px 20px;
		display: block;
	}

	.banner{
		margin: 0 0 30px;
	}

	.banner .text-holder{
		width: 100%;
	}

	.banner .img-holder{
		display: none;
	}

	.banner .features{
		margin: 30px 0 0;
	}

	.banner .text-holder .banner-title{
		font-size: 26px;
		line-height: 37px;
	}

	.banner .features .item{
		margin-right: 25px;
	}

	.section-title{
		font-size: 35px;
		line-height: 40px;
	}

	.steps .section-header:after,
	.services .section-header:after,
	.pricing-section .section-header:after{
		font-size: 60px;
		top: 60px;
	}

	.steps .section-header,
	.services .section-header,
	.pricing-section .section-header{
		padding: 70px 0 0;
		margin: 0 0 30px;
	}

	.steps{
		margin: 0;
	}

	.steps .grid{
		margin: 0;
	}

	.steps .col{
		width: 100%;
		padding: 0;
	}

	.services-tab .btn-holder{
		flex-direction: column;
		margin: 0 0 30px;
		align-items: flex-start;
	}

	.services-tab .btn-holder li{
		margin: 0 0 30px;
	}

	.testimonial{
		padding: 30px 30px 75px;
	}

	.testimonial:before{
		top: 10px;
		left: 35px;
	}

	.testimonial-content{
		font-size: 18px;
		line-height: 30px;
	}

	.testimonial-slider .owl-nav{
		bottom: -50px;
	}

	.services{
		margin: 0;
	}

	.services-tab .grid{
		margin: 0;
	}

	.services-tab .col{
		padding: 0;
	}

	.pricing-table-holder .grid{
		margin: 0;
	}

	.pricing-table-holder .col{
		width: 100%;
		padding: 0;
		margin: 0 0 30px;
	}

	.pricing-table-holder .business{
		margin-top: 0;
	}

	.pricing-section{
		margin: 0 0 40px;
	}

	.cta-section:after,
	.cta-section:before{
		display: none;
	}

	.cta-section .holder{
		height: 300px;
	}

	.footer-b{
		flex-direction: column;
		text-align: center;
	}

	.copyright{
		margin: 0 0 20px;
	}

	.signup-model .img-holder{
		display: none;
	}

	.login-form h2{
		font-size: 30px;
		line-height: 38px;
	}

	.overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		background: rgba(255, 255, 255, 0.85);
		-webkit-transition: ease 0.35s;
		-moz-transition: ease 0.35s;
		transition: ease 0.35s;
	}

	body.menu-open .overlay{
		opacity: 1;
		visibility: visible;
	}

	.login-tool .btn-logout{
		top: 58px;
	}

	.login-tool{
		margin-left: 10px;
		padding-right: 20px;
	}

	.page-title{
		font-size: 28px;
		line-height: 35px;
	}

	.create-order .page-header .btn-cancle{
		top: -17px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

	.create-order .note{
		padding: 14px 50px 14px 50px;
	}

	.create-order .note .icon{
		left: 15px;
	}

	.selection-tool .grid{
		margin: 0;
	}

	.selection-tool .col-2{
		width: 100%;
		padding: 0;
		margin: 0 0 20px;
	}

	.selection-tool .col-3{
		padding: 0 2px;
	}

	.selection-tool label{
		height: 45px;
	}

	.add-section .box{
		padding: 20px;
	}

	.add-section .box .grid .col{
		width: 50%;
	}
}

@media only screen and (max-width: 599px){
	
}

@media only screen and (max-width: 560px){
	.account-setting-form .grid-input{
		margin: 0;
	}

	.account-setting-form .grid-input .col{
		width: 100%;
		padding: 0;
	}

	.payment-setting-form .btn-remove-card{
		font-size: 0;
		background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238d8d8d' viewBox='0 0 448 512'%3E%3Cpath fill='%23FB5E5E' d='M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z'/%3E%3C/svg%3E") center center no-repeat;
		width: 15px;
		height: 26px;
		margin-left: 0;
	}

	.payment-setting-form .card-icon{
		margin-right: 10px;
	}

	.payment-setting-form .grid-input .col:first-child,
	.payment-setting-form .grid-input .col:nth-child(2),
	.payment-setting-form .grid-input .col:last-child{
		width: 100%;
		margin-right: 0;
	}

	.payment-setting-form .exp-date input[type="text"],
	.payment-setting-form .cvv input[type="text"]{
		text-align: left;
	}

	.create-order .checkout-box{
		width: 100%;
	}

	.add-section .box .grid .col{
		width: 100%;
	}

	.checkout-page{
		padding: 30px;
	}

	.checkout-form .card-holder{
		max-width: 86%;
	}

	.new-card-holder .card-number{
		width: 100%;
		margin: 0 0 20px;
	}
}